body {
    background-color: #ecf0f1;
    font-family: Raleway;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page-title {
    margin-top: 30px;
}

.button {
    position: relative;
    border: 0;
    background-color: #e1e1e1;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
}

.button.vertical span {
    position: relative;
    z-index: 2;
    transition: 0.4s color;
}

.button.vertical:hover span {
    color: white;
}

.button.vertical::before,
.button.vertical::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: red;
    transition: all 0.3s;
}

.button.vertical::before {
    left: 0;
    top: -100%;
}

.button.vertical::after {
    right: 0;
    bottom: -100%;
}

.button.vertical:hover::before {
    left: 0;
    top: 0;
}
.button.vertical:hover::after {
    right: 0;
    bottom: 0;
}