body {
  background-color: #333;
  color: #fff;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
  text-align: center;
}

.progress-bar-wrapper {
  margin-top: 40px;
  width: 500px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 1px;
  border-radius: 2px;
}

.progress-bar-fill {
  height: 30px;
  background-color: #5757ff;
  border-radius: 2px;
  animation: progress 6s ease;
}

@keyframes progress {
  0% {width: 0%;}
  50% {width: 45%;}
  76% {width: 54%;}
  88% {width: 67%;}
  92% {width: 74%;}
  100% {width: 100%}
}



























/**/
