body {
    background-color: #223e61;
    font-family: Nunito, sans-serif;
    color: #fff;
}

h2 {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 24px auto;
    justify-content: center;
    align-items: center;
}

h2.first {
    background-color: #bba01d;
}

.link {
    display: inline-block;
    position: relative;
    font-size: 48px;
    color: #fff;
    text-decoration: none;
}

.link::before,
.link::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 5px;
    background-color: #ffffff59;
    transform: rotate(90deg);
    transition: all 0.5s ;
}

.link::before {
    left: -50px;
}

.link::after {
    left: 100%;
    right: -50px;
}

.link:hover::before {
    top: 0;
    left: 50%;
    transform: rotate(0);
    width: 100px;
    background-color: white;
}

.link:hover::after {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: rotate(0);
    width: 100px;
    background-color: white;
}