body {
  background-color: #fff;
  color: #000;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  transform: rotate3d(1, 1, 1, 45deg);
  transform-style: preserve-3d;
}

.blue-box {
  width: 100px;
  height: 100px;
  background-color: blue;
  transform: rotate3d(1, 1, 1, 45deg);
}


/**
  *
  * transform-style: preserve-3d | flat
  *
  *
  */
















































/**/
