body {
  background-color: #eae067;
  font-family: Raleway;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.box {
  width: 60px;
  height: 60px;
  background-color: #2096c3;
  margin-top: 30px;
  cursor: pointer;
  animation: slide 2.5s linear infinite alternate none running;
}

.box:hover {
  animation-play-state: paused;
}


@keyframes slide {
  0% { margin-left: 0px;}
  100% { margin-left: 500px; }
}






























/**/
