body {
  background-color: #f8f8f8;
  color: #000;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  display: flex;
  width: 980px;
  height: 400px;
  perspective: 1000px;
}

.card-wrapper {
  position: relative;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  transition: transform 0.75s;
  margin: 10px;
}

.card-wrapper.first:hover {
  transform: rotate3d(0, 1, 0, -180deg);
}

.card-wrapper.second:hover {
  transform: rotate3d(1, 0, 0, 180deg);
}

.card-wrapper.third:hover {
  transform: rotate3d(1, 1, 0, 180deg);
}

.front-card, .back-card {
  box-sizing: border-box;
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 15px;
  backface-visibility: hidden;
}

.front-card img {
  width: 100%;
  height: auto;
}

.back-card {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate3d(0, 1, 0, 180deg);
  transform-style: preserve-3d;
}

.second .back-card {
  transform: rotate3d(1, 0, 0, 180deg);
}

.third .back-card {
  transform: rotate3d(1, 1, 0, 180deg);
}

.back-card h2 {
  font-size: 36px;
}

.back-card a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  border: 1px solid white;
  padding: 10px 50px;
}































/**/
