body {
  background-color: #96b4f7;
  font-family: Raleway;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.circular-spinner {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  //background-color: #e91e63;
  border: 10px solid white;
  border-top: 10px solid #e91e63;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}































/**/
