body {
  background-color: #fff;
  color: #000;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  transform: perspective(400px) scale3d(1, 1, 2) rotateX(45deg);
}



/**
  * scaleX(sx), scaleY(sy), scaleZ(sz)
  * scale3d(sx, sy, sz)
  * scale3d(1, 1, 1) = original size, non-scaled size
  * scale3d(2, 1, 1) = scaleX(2)
  * scale3d(1, 2, 1) = scaleY(2)
  * scale3d(1, 1, 2) = scaleZ(2)
  *
  *
  */






































/**/
