body {
  background-color: #ecf0f1;
  font-family: Raleway;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.image-container {
  display: flex;
  flex-direction: row;
}

figure {
  position: relative;
	width: 300px;
	height: 200px;
	margin: 10px;
	padding: 0;
	background: #fff;
  cursor: pointer;
  overflow: hidden;
}

figure img {
  width: 100%;
}

.fig1 figcaption {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.25);
  line-height: 200px;
  text-align: center;
  font-size: 36px;
  color: white;
  opacity: 0;
  transition: 0.5s opacity;
}

.fig1:hover figcaption{
  opacity: 1;
}

.fig2 figcaption {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.25);
  line-height: 200px;
  text-align: center;
  font-size: 36px;
  color: white;
  opacity: 0;
  transition: 0.5s opacity;
}

.fig2:hover figcaption{
  opacity: 1;
}

.fig2 img {
  transition:0.5s transform;
}

.fig2:hover img {
  transform: scale(1.5)
}

.fig3 figcaption {
  position: absolute;
  left: 0;
  top: 80%;
  width: 300px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.25);
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: white;
  transform: translateY(40px);
  transition: 0.5s transform;
}

.fig3:hover figcaption{
  transform: translateY(0);
}






























/**/
