body {
  background-color: #ecf0f1;
  font-family: Raleway;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 30px;
}

.image-container {
  display: flex;
  flex-direction: row;
}

figure {
	width: 300px;
	height: 200px;
	margin: 10px;
	padding: 0;
	background: #fff;
  cursor: pointer;
  overflow: hidden;
}

figure img {
  width: 100%;
}

.fig1 img {
  transition: 0.3s transform;
}

.fig1:hover img {
  transform: scale(1.25);
}

.fig2 img {
  transition: 0.3s width;
}

.fig2:hover img {
  width: 400px;
}

.fig3 img {
  transition: 0.3s width, 0.3s transform;
}

.fig3:hover img {
  width: 400px;
  transform: translate(-100px);
}



































/**/
