body {
  background-color: #fff;
  color: #000;
  font-family: Raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-title {
  margin-top: 50px;
  text-align: center;
}

.wrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;
  transform: perspective(400px) rotate3d(0, 1, 0, 50deg);
  backface-visibility: hidden;
  font-size: 45px;
}



/**
  *
  * backface-visibility: visible | hidden
  *
  *
  *
  *
  */



























































/**/
